<div class="con">
    <div class="header" >
       <h3 class="center">Header</h3>
    </div>
    <div class="nav">
        <ul>
            <li>
                <button class="btn" routerLink="/communication">Communtication</button>
            </li>
            <li>
                <button class="btn" routerLink="direc">Directives</button>
            </li>
            <li>
                <button class="btn">Summa</button>
            </li>
        </ul>
    </div>
    <div class="main">
        <h5 style="text-align: center;">Main</h5>
    </div>
    <div class="footer">
        <h5 style="text-align: center;">Footer</h5>
    </div>
</div>







